# arithematic operator

In [2]:
a = 10 
b = 10
print(a+b) 
print(a-b) 
print(a/b)
print(a//b) 
print(a**b)
print(a%b)

20
0
1.0
1
10000000000
0

# membership operator

In [3]:
print('d' in 'Delhi')

False

In [4]:
print('d' in 'delhi')

True

In [5]:
a = 10 
b = 20 

if a>b :
    print("a")
else:
    print("b")

b

In [7]:
gm="xyz"
pw="1234"

ugm=input("enter gm:")
upw=input("enter pw:")

if gm==ugm and pw==upw:
    print("login sucessfull")
else:
    print("login failed")

enter gm:xyz
enter pw:1234
login sucessfull

In [9]:
# min of 3 numbers 

a=int(input("enter a : "))
b=int(input("enter b: "))
c=int(input("enter c : "))

if a>b and a>c:
    print(a)
elif b>c:
    print(b)
else:
    print(c)

enter a : 2
enter b: 5
enter c : 0
5

In [10]:
import math 

math.factorial(5)

120

In [11]:
math.floor(3.9)

3

In [12]:
math.sqrt(256)

16.0

In [15]:
import random 
print(random.randint(0,100))

18

In [20]:
import datetime 
print(datetime.datetime.now())

2024-03-11 15:02:33.469000

In [22]:
n = int(input("enter number :"))
i=1

while i<11:
    print(n*i)
    i=i+1;

enter number :5
5
10
15
20
25
30
35
40
45
50

# while else

In [23]:
i = 1 

while i<3:
    print(i)
    i=i+1
else:
    print("limit crossed")

1
2
limit crossed

In [27]:
l=list(range(1,11))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
for i in range (10 , 0 , -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [31]:
x= 10000
for i in range(10,0,-1):
    x=x-(x*0.1)
    print(x)

9000.0
8100.0
7290.0
6561.0
5904.9
5314.41
4782.969
4304.6721
3874.20489
3486.784401